In [1]:
import pandas as pd
import numpy as np

In [2]:
#pd.options.display.max_columns = 50  
#pd.options.display.max_rows = 16300     
#pd.options.display.max_colwidth = 10000
#pd.options.display.precision = 3

In [3]:
original = pd.read_csv("small.csv")
original

        Dates   Close    Volume Symbol
0  03-10-2016   31.50  14070500   CSCO
1  03-10-2016  112.52  21701800   AAPL
2  03-10-2016   57.42  19189500   MSFT

In [4]:
upd_original = original.copy()
upd_original["Name"] = ["Alice","Bob","Clair"]
upd_original["open_value"] = [70.5,150,90.5]
upd_original["mid_value"] = [51,131.26,73.96]
upd_original["Bonus"] = [0,0,0]
#upd_original.to_csv("output_small.csv", index = False)
upd_original

        Dates   Close    Volume Symbol   Name  open_value  mid_value  Bonus
0  03-10-2016   31.50  14070500   CSCO  Alice        70.5      51.00      0
1  03-10-2016  112.52  21701800   AAPL    Bob       150.0     131.26      0
2  03-10-2016   57.42  19189500   MSFT  Clair        90.5      73.96      0

__Note:__ The small.csv file contain data of type DataFrame.So,we can not add a new columns using pandas Series.

In [5]:
col = list(upd_original.columns.values)
a = pd.Series(col)
b = pd.Series(["New_Column1","New_Column2","New_Column3"],index = [8, 9, 10])
a.append(b)

0           Dates
1           Close
2          Volume
3          Symbol
4            Name
5      open_value
6       mid_value
7           Bonus
8     New_Column1
9     New_Column2
10    New_Column3
dtype: object

In [6]:
new_column = upd_original.open_value * upd_original.mid_value
upd_original["new_column"] = new_column
upd_original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,14070500,CSCO,Alice,70.5,51.00,0,3595.50
1,03-10-2016,112.52,21701800,AAPL,Bob,150.0,131.26,0,19689.00
2,03-10-2016,57.42,19189500,MSFT,Clair,90.5,73.96,0,6693.38

In [7]:
upd_original.iloc[:3,[2]] = 9999999
upd_original.iloc[:3,[6]] = 400.0
upd_original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38

In [8]:
upd_original.loc[:3,"Volume"] = 9999999
upd_original.loc[:3,"mid_value"] = 400.0
upd_original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38

In [9]:
k = {"Dates":"03-10-2016","Close":0,"Volume":0,"Symbol":None,"Name":None,"open_value":0,"mid_value":0,"Volume":0,"Bonus":0,"new_column":0}
upd_add_row = upd_original.append(k,ignore_index = True).copy()
upd_add_row

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38
3,03-10-2016,0.00,0,None,None,0.0,0.0,0,0.00

In [10]:
ret_upd_Original = upd_add_row.drop([3]).copy()
ret_upd_Original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38

## Checking the files

In [11]:
original

        Dates   Close    Volume Symbol
0  03-10-2016   31.50  14070500   CSCO
1  03-10-2016  112.52  21701800   AAPL
2  03-10-2016   57.42  19189500   MSFT

In [12]:
upd_original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38

In [13]:
upd_add_row

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38
3,03-10-2016,0.00,0,None,None,0.0,0.0,0,0.00

In [14]:
ret_upd_Original

,Dates,Close,Volume,Symbol,Name,open_value,mid_value,Bonus,new_column
0,03-10-2016,31.50,9999999,CSCO,Alice,70.5,400.0,0,3595.50
1,03-10-2016,112.52,9999999,AAPL,Bob,150.0,400.0,0,19689.00
2,03-10-2016,57.42,9999999,MSFT,Clair,90.5,400.0,0,6693.38

In [15]:
original_ac = pd.read_csv("autocars.csv")
#original_ac

In [16]:
original_ac.head(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0

In [17]:
original_ac.tail(3)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [18]:
original_ac.groupby(["company"])["price"].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [19]:
original_ac["price"].max()

45400.0

In [20]:
original_ac.loc[original_ac["price"].idxmax()]

index                          47
company             mercedes-benz
body-style                hardtop
wheel-base                    112
length                      199.2
engine-type                  ohcv
num-of-cylinders            eight
horsepower                    184
average-mileage                14
price                       45400
Name: 35, dtype: object

In [21]:
original_ac.iloc[original_ac["price"].idxmax(),[1]]

company    mercedes-benz
Name: 35, dtype: object

In [22]:
original_ac[3:7]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0

In [23]:
original_ac.loc[original_ac["company"] == "audi"]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0

In [24]:
original_ac["company"].value_counts()

toyota           7
bmw              6
nissan           5
mazda            5
mitsubishi       4
volkswagen       4
mercedes-benz    4
audi             4
jaguar           3
chevrolet        3
isuzu            3
alfa-romero      3
honda            3
porsche          3
dodge            2
volvo            2
Name: company, dtype: int64

In [25]:
original_ac.sort_values(["price"])

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
13,16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
30,39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
...,...,...,...,...,...,...,...,...,...,...
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
32,44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
33,45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
34,46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
35,47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
47,63,porsche,hatchback,98.4,175.7,dohcv,eight,288,17,NaN

In [26]:
original_ac.groupby(["company"])["average-mileage"].mean()

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [27]:
original_ac.groupby(["company"])["average-mileage"].describe()[["mean"]]

                    mean
company
alfa-romero    20.333333
audi           20.000000
bmw            19.000000
chevrolet      41.000000
dodge          31.000000
honda          26.333333
isuzu          33.333333
jaguar         14.333333
mazda          28.000000
mercedes-benz  18.000000
mitsubishi     29.500000
nissan         31.400000
porsche        17.000000
toyota         28.714286
volkswagen     31.750000
volvo          23.000000

In [28]:
frame = pd.DataFrame(np.random.randn(4, 3),columns = list('bde'),index = ["Utah","Ohio","Texas","Oregon"])
frame

               b         d         e
Utah    0.299584  0.075553 -0.551945
Ohio    0.446384  1.090667  0.616634
Texas  -1.111127  0.275675 -0.318524
Oregon  0.179052 -0.425130  0.077052

In [29]:
def color(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    if (val < 0):
        color = "green" 
    elif (val > 0):
        color = "blue"
    else:
        color = "black"
    return "color:%s" %color

In [30]:
frame.style.applymap(color, subset = ["d","e"])

In [31]:
given = pd.DataFrame({"order_id":[1,1,1,2,3,3], "price":[5,6,1,20,2,5]}) 
given

   order_id  price
0         1      5
1         1      6
2         1      1
3         2     20
4         3      2
5         3      5

__Method 1:__

In [32]:
new = given[["order_id","price"]].groupby(["order_id"]).agg(["mean"])
new

         price
          mean
order_id
1          4.0
2         20.0
3          3.5

In [33]:
given.merge(new,left_on = "order_id",right_index = True)

C:\Users\harik\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

   order_id  price  (price, mean)
0         1      5            4.0
1         1      6            4.0
2         1      1            4.0
3         2     20           20.0
4         3      2            3.5
5         3      5            3.5

__Method 2:__

In [34]:
given.groupby(["order_id"]).price.sum()

order_id
1    12
2    20
3     7
Name: price, dtype: int64

In [35]:
given["sum_price"] = given.groupby(["order_id"]).price.transform(sum)
given

   order_id  price  sum_price
0         1      5         12
1         1      6         12
2         1      1         12
3         2     20         20
4         3      2          7
5         3      5          7

In [36]:
df = pd.DataFrame({'Y': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df

   Y
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [37]:
X = []
i = 0
for index, row in df.iterrows():
    if (row["Y"] != 0):
        i+=1
    else:
        i = 0
    X.append(i)
print(X)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [38]:
df_X = pd.DataFrame({"X":X})
df_X

   X
0  1
1  2
2  0
3  1
4  2
5  3
6  4
7  0
8  1
9  2

In [39]:
pd.concat([df,df_X],axis = 1)

   Y  X
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## From single series object

In [40]:
names = ["Normen","Blanka","Tim"]

x = pd.Series(names)  

dataframe = {"Names":x}
df0 = pd.DataFrame(dataframe) 
df0

    Names
0  Normen
1  Blanka
2     Tim

In [41]:
df0["Age"] = [28,27,24]
df0["country"] = ["RU","IND","PAK"]
df0

    Names  Age country
0  Normen   28      RU
1  Blanka   27     IND
2     Tim   24     PAK

## From list of dicts

In [42]:
dt = [{"Player":"X","Age":25,"Country":"UAE"},{"Player":"Y","Age":28,"Country":"SA"}]
df1 = pd.DataFrame(dt, index = [0,1])
df1

  Player  Age Country
0      X   25     UAE
1      Y   28      SA

##  From dictionary of series objects

In [43]:
dt = {"Player": pd.Series(["Tom","James","Atom"]),"Age": pd.Series([32,23,29]),"Country": pd.Series(["AFG","SL","NZ"])}
df2 =  pd.DataFrame(dt)
df2

  Player  Age Country
0    Tom   32     AFG
1  James   23      SL
2   Atom   29      NZ

## From two dimenesional numpy array

In [44]:
array1 = np.array([["Thomas",22,"USA",4,33], ["Finn",25,"AUS",2,34], ["John",28,"NL",6,27]])
df3 = pd.DataFrame(array1,columns=["Name","Age","Country","Rank","Matchs"],index=[0,1,2])
df3

     Name Age Country Rank Matchs
0  Thomas  22     USA    4     33
1    Finn  25     AUS    2     34
2    John  28      NL    6     27

## From numpy structured array

In [45]:
array2 = np.array([("Tony",24,"DE",1,35),("Stefan",31,"FR",3,24),("Henry",28,"UK",5,29)], dtype=[("Name","U10"),("Age","<i4"),("Country","<U10"),("Rank","<i4"),("Matchs","<i4")])
df4 = pd.DataFrame(array2,index=[3,4,5])
df4

     Name  Age Country  Rank  Matchs
3    Tony   24      DE     1      35
4  Stefan   31      FR     3      24
5   Henry   28      UK     5      29

In [46]:
pd.concat([df3,df4])

     Name Age Country Rank Matchs
0  Thomas  22     USA    4     33
1    Finn  25     AUS    2     34
2    John  28      NL    6     27
3    Tony  24      DE    1     35
4  Stefan  31      FR    3     24
5   Henry  28      UK    5     29

In [47]:
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols)) for i in range(4))

## Simple Sum:

In [48]:
df1 + df2 + df3 + df4

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.456085,2.240325,2.189299,2.796486,0.997756,1.857199,0.836188,1.993636,3.384643,1.851474,...,1.405156,1.972001,3.018147,2.220360,3.010689,1.747911,2.386533,1.733311,1.431434,1.987172
1,1.930732,1.325833,2.100320,1.031509,2.216550,2.322945,2.221711,2.551356,1.446013,1.150052,...,1.295991,1.298014,2.191522,1.514702,1.013891,2.682375,2.355956,1.905342,2.432560,1.438647
2,2.961585,1.241173,1.292687,1.559529,3.244460,1.727601,1.508593,2.373529,1.092988,1.932929,...,1.857067,2.436111,2.279347,2.240607,2.450652,1.527546,2.098585,1.540268,1.685716,1.544752
3,1.325278,2.311100,3.153195,2.428513,2.468706,2.168389,1.036675,2.543273,1.985104,1.664177,...,2.248197,2.597650,1.624677,1.896175,1.075806,2.305705,3.019780,1.157161,3.050878,2.029253
4,1.107165,1.998018,2.171741,3.011473,2.403474,1.785172,1.148053,0.842213,3.165272,1.333032,...,2.001123,2.899136,1.595563,2.134547,2.112748,2.100429,2.224902,0.643061,2.949058,3.143277
5,2.529727,2.286030,1.841785,2.541460,1.769361,1.050646,2.075684,2.324688,2.438428,1.781407,...,1.157299,2.559414,0.801015,1.965303,2.642901,1.984894,2.829832,0.389572,1.558335,1.056066
6,1.833114,2.550224,1.876560,2.686080,2.105999,1.495751,2.170603,1.910861,2.120342,1.817153,...,1.377561,0.998171,2.314678,2.091576,2.251880,2.556874,1.599663,1.599870,1.654136,2.321083
7,2.289387,1.210696,1.918794,1.483511,1.278016,3.160189,1.160647,2.625092,1.846446,1.119391,...,2.031164,1.444658,2.145769,1.736351,1.195094,1.745555,2.303146,1.254152,1.908617,1.917989
8,3.505600,0.808907,2.404487,2.225093,2.322124,2.821739,3.197666,1.832822,2.275828,2.170450,...,1.814867,3.009457,3.405309,1.619064,2.217507,1.146233,2.379295,2.301173,1.770566,2.384656
9,0.969624,1.649156,2.804440,2.420300,1.520629,3.108249,2.920252,1.925706,1.636896,1.866250,...,2.514131,2.116830,1.848514,2.432347,1.275528,1.131998,2.870750,1.874162,2.033666,2.138631
10,1.453052,1.816415,2.583319,2.900471,2.035049,1.853284,2.122161,1.726273,1.780189,2.455611,...,2.379638,2.081663,2.272032,3.043300,2.100510,1.625051,0.725707,1.696533,2.345716,1.782420
11,0.673214,2.534474,1.947575,1.940661,1.876430,1.794956,1.588995,3.017800,2.863790,1.351149,...,1.542789,1.252285,2.391651,1.687003,1.811960,2.384660,2.305491,3.423160,2.052245,0.763932
12,2.152171,1.906601,1.889178,1.307331,3.143899,1.655625,1.447486,1.346744,1.756410,2.194557,...,1.395396,1.640794,1.848954,2.109898,2.977253,1.023336,1.626183,1.430499,3.237348,1.716017
13,1.703104,2.690384,1.323316,1.741178,2.034659,2.565745,2.283950,2.330209,2.066688,1.745909,...,2.500216,1.546899,1.701546,2.630685,2.047993,3.216496,2.201913,1.283512,2.668225,2.728418
14,1.232189,1.038214,1.607278,1.850894,2.223648,2.193560,2.068241,2.928066,2.542520,2.113270,...,1.572091,1.660635,2.046140,2.732769,2.355748,2.154696,2.479858,2.117175,1.173931,2.091919
15,1.449457,1.749207,1.275558,2.100333,1.708329,1.845191,2.385540,2.089824,1.460171,2.439756,...,2.868694,3.323866,2.328474,2.205978,1.154057,2.221118,1.843158,2.165919,1.274724,1.595428
16,1.897001,1.811584,1.759278,2.711842,0.536237,1.754557,2.124654,1.730160,1.615390,2.575856,...,1.814866,1.841488,1.905132,2.036195,1.655814,1.090724,0.769067,1.330695,2.175078,3.225375
17,3.029724,1.736270,1.988045,1.782844,2.931015,1.353246,2.389335,1.585083,1.612419,2.711087,...,1.217383,2.027409,1.761369,2.759749,1.505929,2.081585,1.585609,2.050830,2.096098,1.461890
18,2.117062,1.780246,1.993014,1.100525,2.025774,2.308838,2.631418,0.983190,1.051478,1.196027,...,1.285075,1.734414,1.062750,1.383288,1.662243,2.507893,2.376203,2.115969,1.550455,1.943637
19,2.027139,1.467598,2.665543,0.556862,3.420525,1.637984,3.276057,2.472893,1.981402,1.978065,...,1.126233,2.578675,1.874941,0.669410,3.152788,2.474398,2.219984,2.352224,1.270148,1.656823
20,1.186245,1.445597,2.637205,1.684491,2.401435,2.734657,1.799661,3.288274,2.289533,2.097798,...,1.742349,1.792633,1.772443,1.601414,1.199044,2.518716,1.520656,1.306916,2.092927,1.955126
21,1.962968,2.162168,1.779002,1.904916,3.084050,1.797401,2.296266,3.322025,0.786464,2.741651,...,2.117229,2.903842,2.262158,2.129186,0.730624,1.916472,1.104522,2.289814,1.626387,2.982586
22,1.742456,1.973178,1.422866,1.206253,1.819131,2.304513,1.637438,2.912748,1.373777,2.014147,...,2.161265,0.826687,1.305829,2.098494,1.901161,1.071817,1.200332,1.396776,0.895496,1.966372
23,1.507669,2.304746,2.188949,2.394654,3.022431,1.691653,2.288863,1.542011,2.044279,2.275983,...,1.295104,1.673682,2.077875,0.961157,2.589515,2.662890,1.129586,0.845864,2.041472,2.622523
24,1.667253,2.304801,1.643218,1.906900,1.741269,2.564624,1.290231,1.290601,2.348601,1.860723,...,1.096785,1.323375,1.258478,1.846658,2.267135,1.923982,2.101290,2.576447,1.958138,1.512029
25,3.038242,2.849454,1.327922,2.443321,1.794859,2.692499,2.885290,1.988959,1.671620,2.343626,...,1.585463,2.106450,2.200665,2.417397,2.438156,1.524865,1.350516,1.549921,1.880187,1.047648
26,2.210038,2.126220,2.389147,1.711662,1.183796,2.008372,1.156781,0.946796,2.635934,1.156814,...,2.567562,1.688154,0.826145,2.697065,2.435885,2.097123,2.884895,2.738346,2.493706,2.208603
27,1.407491,1.865896,1.613920,0.602684,1.981845,2.752007,1.827062,1.786168,0.549221,1.739578,...,1.812865,2.199998,1.636548,1.610453,2.330377,2.283877,1.400488,1.861725,2.838918,1.101202
28,3.267052,3.165638,2.996827,2.824158,2.541678,2.305835,3.357698,2.186867,2.366480,2.712085,...,2.083917,3.235981,1.736450,2.371403,1.440608,2.802317,2.101925,1.619235,2.072106,1.214266
29,0.768083,2.968913,1.981050,1.806244,1.325520,1.396097,2.039139,1.327618,1.295122,1.871042,...,1.792426,2.494779,2.022854,0.676690,1.143430,2.886865,1.640658,1.877204,1.895740,1.988795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2.720973,2.099281,1.511831,1.572617,2.167500,1.867705,1.833032,2.113457,1.372958,1.402561,...,1.382721,2.340632,2.418351,1.974583,2.328737,2.764842,2.032175,1.255271,0.965864,1.552767
99971,0.900667,1.923872,1.960494,2.716563,1.443832,0.934237,2.268561,1.137339,2.138794,0.516597,...,2.205422,2.956334,1.424770,1.908577,1.695521,2.284933,1.533750,1.747455,2.439444,2.111675
99972,1.879358,2.131145,1.822741,3.272078,2.993150,1.582101,2.573320,2.123200,1.461488,3.039809,...,2.189689,1.524174,1.882610,1.998752,1.967850,1.285238,2.188817,2.054732,2.816292,1.693329
99973,2.841798,1.950204,2.116629,1.694168,2.457025,1.590836,2.402997,1.463132,1.683868,1.839145,...,1.706165,2.861304,2.301795,1.984522,2.025310,1.997721,2.356896,1.587012,2.058481,2.186342
99974,2.089462,1.760106,2.524023,2.706587,2.532305,1.233845,0.957262,2.006566,1.589196,2.067332,...,2.083474,2.680428,2.995183,3.174656,2.581464,1.498646,1.916825,1.668433,1.846584,1.845606
99975,1.870908,2.127161,2.774161,2.002181,2.492638,1.125879,0.999363,2.064809,1.853981,2.233201,...,1.972404,1.396330,2.532544,1.273616,1.854553,2.392966,2.223151,2.642585,1.589090,1.952765
99976,2.427957,1.992240,1.899150,2.797071,1.367548,2.243787,3.331564,1.323467,1.942649,2.662032,...,2.190299,1.545649,2.233127,2.575085,2.258446,3.076366,1.611149,1.985844,2.534271,1.334893
99977,1.853213,2.262653,1.474000,1.221203,1.221548,2.969487,2.733378,1.108300,3.196995,2.023229,...,1.196491,1.873896,2.010153,2.053104,2.770497,2.815749,2.540334,0.830537,2.257850,1.339561
99978,1.806707,2.616367,2.561749,2.908497,2.122009,2.382147,2.123836,1.365817,1.597979,1.261453,...,1.536278,2.186786,0.516044,3.233332,2.567771,2.305927,2.640347,2.516617,1.935197,1.714070
99979,1.921293,1.053692,1.163612,2.438733,1.985102,2.459441,1.923761,2.133136,2.282194,2.359468,...,2.326690,1.667339,2.074171,1.914721,1.990047,1.785399,1.687230,1.431270,1.624879,1.731222
99980,1.548266,1.523914,0.516430,2.063182,2.612366,2.721419,1.687046,1.916954,2.025186,1.475500,...,2.916962,1.740092,0.369208,2.676261,2.499222,1.918852,1.643411,1.265980,1.872594,2.235704
99981,2.136861,0.682177,0.945267,2.367237,1.686822,1.564250,1.656511,1.927764,2.983409,0.855689,...,1.499209,1.936219,2.904712,1.272503,1.934206,2.178201,1.935533,3.104901,2.042591,1.752550
99982,2.346649,1.329105,2.673362,2.339481,1.028955,0.766322,2.093564,1.486922,2.106040,1.935764,...,2.247181,1.660603,2.254615,2.621480,1.659217,2.110938,2.470022,2.359924,2.968647,2.098067
99983,1.405765,2.070329,2.172424,2.314741,1.794237,1.908839,3.413787,1.385935,1.283685,2.783633,...,2.506881,3.081882,1.972034,0.475876,2.575435,2.133713,2.867264,1.732730,1.831861,1.354536
99984,2.362765,2.190928,3.471756,2.511914,2.920498,1.645430,1.852813,1.594432,1.290186,1.505811,...,2.300081,1.649063,1.204388,2.055990,1.116673,2.241748,2.780365,2.461974,0.715167,3.354131
99985,1.653298,1.170811,2.648263,1.464368,3.376029,2.686461,1.818216,2.061906,2.448822,1.716538,...,2.026350,2.203301,1.236588,2.330305,1.332705,1.531133,1.363433,1.734751,1.273995,1.556117
99986,2.321994,2.726122,2.305241,1.317790,2.245922,2.633858,2.340699,1.560148,2.245819,2.600717,...,2.498680,2.222970,1.654151,1.924431,1.993898,1.859339,1.969085,1.886730,1.988250,2.180722
99987,1.212179,1.159788,2.803700,1.870679,1.772416,0.787019,2.292537,2.418902,1.863137,3.211870,...,1.943418,2.135067,1.980941,0.857108,1.205516,2.125668,3.105553,2.926618,1.177321,1.494216
99988,1.945091,1.639819,1.918852,2.179307,1.304276,1.981897,2.492099,1.445377,1.515096,1.765245,...,2.023479,1.376962,1.871190,1.486913,1.604741,2.387040,2.046426,1.776867,1.886274,1.522961
99989,2.040032,2.192537,2.147737,3.802939,2.040119,1.692062,2.227425,1.467336,1.414681,1.186079,...,1.487859,2.695931,1.823389,1.535950,2.533355,2.233974,1.912686,1.606012,1.677495,1.090460
99990,1.237808,2.223027,2.474764,2.773193,2.484599,2.689616,3.228562,2.088947,2.471298,1.847874,...,1.971181,1.487837,1.367118,2.259710,1.626144,2.347477,1.955410,2.579857,2.166550,1.076714
99991,2.436503,2.566128,3.070286,2.606898,1.724611,2.400306,1.825963,1.448154,1.496346,2.361908,...,1.815644,1.415418,2.502511,1.258487,1.298193,1.860182,1.399211,1.740669,1.970275,3.057675
99992,2.133103,1.652657,2.064544,2.609207,1.124066,1.625627,1.686558,2.366182,1.695228,2.897846,...,1.450119,3.018549,2.183167,3.045669,2.331310,1.836002,0.933360,2.926402,2.469891,1.050197
99993,2.635077,1.655436,0.735955,2.045954,1.779264,1.714414,1.074490,1.592654,1.541313,1.732518,...,1.692508,2.342566,1.436563,1.915419,2.581210,1.512724,2.344805,1.516592,2.384758,2.328794
99994,2.208062,1.768444,2.929948,1.804712,1.989707,2.473341,2.055708,2.681383,2.981290,2.787367,...,2.490115,2.031337,2.746501,2.616511,2.522149,2.024377,2.596863,2.309965,2.550649,2.547372
99995,1.948321,1.751224,2.276621,2.203974,2.752196,1.811677,1.544824,1.347874,2.406432,2.045719,...,2.156290,1.469662,1.239475,2.085855,1.546402,2.670792,0.801108,1.924963,1.309836,2.598576
99996,2.249443,2.248954,2.840738,2.278969,1.552147,1.613808,2.537029,2.572771,1.855158,1.570820,...,1.528213,1.484577,1.659783,1.798531,1.920396,3.043902,1.965024,1.725764,1.465961,1.805480
99997,1.942065,2.352778,1.104218,1.777017,2.159435,1.715014,2.424385,2.013074,1.637694,3.488990,...,2.159156,2.096489,1.486934,2.669343,2.069421,1.332025,2.191244,2.179376,1.816149,1.682464
99998,2.681177,0.958664,2.867072,1.127300,1.277971,1.268119,1.756763,2.250528,1.326825,2.479023,...,1.608354,2.040729,2.223907,3.272577,1.933145,2.578746,1.132848,1.919029,2.201389,1.950606
99999,2.300429,2.501596,2.385804,1.518952,2.691974,2.580092,2.047616,1.384078,1.879208,1.342491,...,1.807613,1.410310,2.396323,1.458223,3.108393,1.609983,1.459910,2.062004,1.693840,1.758297

## Pandas add() method:

In [49]:
a = df1.add(df2)
a

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.301078,1.333176,1.603463,1.360130,0.484844,1.144815,0.178822,1.225081,1.555577,0.712784,...,0.430059,1.530233,1.691532,0.672755,1.543484,1.294976,0.989557,0.433453,0.730529,0.595565
1,0.746596,1.127358,1.218888,0.828092,1.490152,1.229622,0.429451,0.844914,0.509903,0.220628,...,0.526131,1.029756,1.164077,0.972181,0.573872,0.857131,1.270501,1.094534,1.319478,0.997979
2,1.617828,0.134042,0.254313,1.057008,1.464738,0.661747,0.782577,1.023670,0.848179,0.780149,...,0.187322,0.809664,1.234689,1.156358,0.675640,1.244769,0.911580,0.675087,0.751111,0.747014
3,0.421140,1.442721,1.433321,1.400884,1.307772,1.183608,0.540550,1.248817,0.987035,0.317875,...,1.304103,0.979170,1.216443,0.855481,0.679234,1.852634,1.715034,0.714021,1.256312,1.325709
4,0.898077,1.617197,1.157995,1.466456,1.121863,1.118848,0.857809,0.420576,1.751593,0.579845,...,0.804718,1.606243,0.666652,0.616132,1.108881,1.352141,1.389189,0.387744,1.850711,1.933147
5,1.219836,1.223911,0.653523,1.734200,1.065575,0.374129,1.426085,1.152551,1.119566,1.055639,...,0.461908,1.141052,0.416196,1.193662,1.576416,1.362632,1.252263,0.312449,0.310654,0.148877
6,0.596072,1.237610,0.306021,0.975706,0.821948,1.079852,1.147425,1.255578,1.358146,1.216149,...,0.545770,0.637562,1.370477,0.969567,0.971517,1.071837,0.664705,0.687297,0.922499,0.966687
7,1.343397,0.242310,0.878669,0.185243,0.095101,1.968826,0.382026,1.394068,0.497081,0.841600,...,1.129195,0.605686,1.489345,1.133193,0.572548,0.985644,1.231951,0.847128,1.120810,1.027086
8,1.604162,0.263793,1.170260,1.201596,1.372818,1.281955,1.699016,1.155518,1.441804,0.929785,...,1.295834,1.448785,1.595944,1.080789,1.468650,0.912692,0.901429,1.461677,0.602862,1.052982
9,0.248508,0.614950,1.143573,0.892715,0.602474,1.505672,1.664047,1.194251,0.451191,1.064599,...,1.557464,1.104989,0.760371,1.294288,0.512476,0.544844,1.406927,1.071424,0.989292,1.402156
10,1.029145,1.049154,1.362316,1.530859,1.142926,1.329719,1.177715,1.052020,0.838766,1.302893,...,1.041254,1.569277,1.353612,1.450226,0.716351,1.034337,0.497152,0.473957,1.615086,1.265340
11,0.371077,1.316509,1.185490,1.178488,1.248040,0.406696,0.582833,1.750858,1.579531,0.703962,...,0.364051,1.095553,1.113653,0.768945,0.781293,1.746343,1.020737,1.588776,1.293101,0.487940
12,1.319954,0.386329,0.762526,0.784374,1.308176,1.033162,0.717189,0.854926,0.406840,1.702038,...,0.774782,0.761379,1.174445,1.277111,1.275820,0.646075,0.654863,0.958362,1.564590,1.457313
13,0.493237,1.120819,0.338719,0.796565,0.873559,1.080446,1.354071,1.146522,0.509297,1.031773,...,0.655127,0.409673,0.568446,1.299528,0.769786,1.455730,0.821375,0.480952,1.401881,1.641348
14,0.553165,0.276099,0.825898,0.835504,0.862882,0.806686,1.311029,1.743752,1.541916,1.056333,...,1.097904,0.473871,0.379387,0.898592,1.411701,1.117128,1.383578,1.261953,0.528074,0.867673
15,0.907961,0.761682,0.280837,0.570956,0.583684,0.670817,1.330875,1.112135,0.941275,1.733104,...,1.655567,1.919331,0.548362,0.489806,1.057203,1.336093,1.218077,0.539620,0.552311,1.006702
16,1.105470,0.851869,0.661177,0.973733,0.193528,0.805505,0.715414,1.352282,0.320392,1.047817,...,0.233905,1.100105,0.864991,0.256720,0.671849,0.448332,0.608637,0.201379,1.105383,1.394679
17,1.334860,0.690669,0.786210,0.995572,1.154471,0.680616,1.490341,0.388586,1.590717,1.618738,...,0.247839,0.889395,1.329664,1.184804,0.183462,1.063145,1.174663,0.741493,0.732470,0.409056
18,1.515596,0.936151,1.114779,0.413932,0.749808,1.705676,1.308374,0.195939,0.709832,0.275610,...,0.583990,1.124490,0.883194,0.507154,0.850390,0.948219,1.297256,0.209951,1.042073,1.424613
19,1.478314,0.849078,1.554094,0.363778,1.449007,0.444598,1.643762,0.875492,1.151314,0.522306,...,1.063169,1.153793,1.288411,0.568988,1.663040,1.352979,1.036315,0.910167,0.357516,0.511112
20,0.836726,0.975455,1.864629,1.064241,1.123749,1.504179,0.946596,1.634550,0.715417,0.935305,...,0.908068,1.049151,0.782346,1.282149,0.695216,1.680926,0.969661,0.878752,1.165691,1.271062
21,1.098990,0.848877,0.683153,0.889874,1.744161,0.518842,1.323662,1.601419,0.330629,1.162459,...,0.518531,1.698387,1.363690,0.633592,0.437462,1.310401,0.468988,1.122771,0.891768,1.235834
22,1.147961,1.033451,0.597182,0.624829,1.356265,1.541328,0.300693,1.654488,0.320698,0.974086,...,1.539515,0.677412,0.289281,1.291403,0.848206,0.694357,0.681233,0.296505,0.138291,0.854287
23,0.853449,0.972566,1.365977,0.806216,1.569600,0.571613,0.584461,1.096642,0.817299,0.928097,...,0.487021,0.924987,0.618647,0.538667,1.803361,1.106212,0.452200,0.368901,0.822672,1.460535
24,0.744142,0.809049,1.331780,1.256488,0.824971,1.329817,0.641368,0.259805,1.743668,1.432243,...,0.648209,0.681845,0.763809,1.038434,1.303921,1.049883,0.974748,0.971526,1.230433,1.196705
25,1.797446,1.748716,0.711725,1.174215,0.951978,0.910555,1.422272,0.908497,1.195342,1.567003,...,1.157753,1.272881,1.119646,1.453846,0.962286,1.074802,0.644647,0.598349,0.504251,0.367747
26,1.301346,0.786612,0.995992,0.504648,0.189231,1.355013,0.134796,0.377014,1.351889,0.765652,...,1.351112,0.708000,0.416666,1.387419,1.937661,0.869142,1.588901,1.241360,1.446152,1.444903
27,0.994344,1.056715,0.689642,0.017602,1.376835,1.804975,0.234516,0.535743,0.103476,0.650527,...,0.987675,1.189129,0.881673,0.836796,1.161414,0.989777,0.404499,1.528750,1.620028,0.426208
28,1.750906,1.888210,1.792008,1.831327,1.182332,1.225707,1.657871,0.359442,1.082718,1.396951,...,0.700048,1.632365,0.974590,1.029124,0.439581,1.659484,1.182231,0.663188,1.308895,0.148085
29,0.218618,1.215900,0.353113,0.531598,0.642977,0.222446,1.645782,1.108732,1.141130,1.232265,...,0.864539,1.505625,0.757764,0.655337,0.778730,1.125506,0.780048,0.816963,1.149522,1.550726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1.113875,1.092207,0.864746,1.065509,1.236247,1.190132,0.554209,0.662671,0.635342,0.682120,...,0.590949,1.421254,1.080058,1.361700,1.144463,1.864697,0.903542,1.206432,0.929855,0.815699
99971,0.112952,1.579169,1.142287,1.534758,0.196896,0.383253,1.366783,0.922699,0.958282,0.267681,...,0.919205,1.450637,1.164652,0.921343,1.114758,1.004556,1.014265,0.844015,1.443083,0.996023
99972,1.341049,0.949145,0.703789,1.500392,1.819475,0.958725,1.662428,1.096508,1.250729,1.757361,...,1.452257,0.846360,0.642671,0.592531,0.864262,0.735366,0.675066,0.556425,0.945259,1.093217
99973,1.787649,0.994203,0.544344,0.608859,1.435627,0.796008,1.610261,1.012325,1.174203,0.865064,...,0.710525,1.256969,1.146103,0.841529,0.977805,0.525744,1.058385,0.842419,1.019105,0.747405
99974,0.840571,0.705849,1.513740,1.365303,1.441402,1.004915,0.537054,0.721584,0.973182,1.238512,...,0.999478,1.416083,1.390311,1.397128,1.505591,1.008316,1.044148,0.667756,1.363749,0.589396
99975,1.480284,1.174298,1.076339,1.488813,0.816866,0.670016,0.285763,0.964928,0.946238,1.281698,...,1.115852,0.420633,1.321317,0.701252,0.917249,1.383964,0.789682,1.034976,1.014226,0.481223
99976,1.241573,1.338700,0.298587,1.290892,1.033405,1.037882,1.755658,0.568732,1.502145,1.435011,...,1.053651,0.759467,1.056772,1.422055,1.408689,1.356742,0.768730,1.176351,0.774070,0.500001
99977,0.739900,1.285365,0.874158,0.993535,0.674337,1.318399,1.571028,0.308180,1.477043,1.121921,...,0.238384,0.754037,1.071041,1.123334,0.965471,1.316469,0.982055,0.288694,0.544147,0.506467
99978,0.397071,1.611649,1.125283,1.349851,1.469811,1.287571,1.396483,0.670549,0.150120,0.167636,...,0.625778,0.761533,0.275326,1.515998,1.429393,1.429696,1.655785,1.237220,1.272715,0.832865
99979,1.213562,0.399265,0.989032,1.331997,1.319620,1.551261,1.347257,1.539590,1.439545,0.755621,...,1.261450,1.125814,1.043525,0.255107,0.944784,0.741135,0.985673,0.554871,0.351432,1.112792
99980,1.059047,0.981626,0.120152,1.175573,1.117720,1.230161,0.700964,1.254109,0.990707,0.592239,...,1.789267,0.569445,0.289684,1.762877,1.069398,1.147782,1.118549,0.976207,1.464870,1.088457
99981,1.233033,0.480292,0.130723,1.394435,0.557829,0.687077,1.035336,1.529378,1.249169,0.556265,...,0.953963,1.227375,1.931549,0.237772,1.084653,1.042336,0.974862,1.625239,1.157430,0.387501
99982,0.453435,0.246059,1.531086,1.287524,0.840594,0.499370,0.743062,1.100854,1.424279,1.317991,...,1.275482,0.915904,0.844448,1.292404,0.633065,0.828488,0.858078,1.193282,1.192880,0.920806
99983,0.098571,1.218248,1.286701,0.925605,0.845298,0.804118,1.589720,0.763308,0.316541,1.219441,...,0.927549,1.155448,0.885104,0.317275,1.460170,1.220046,1.613434,0.649623,0.962992,1.034580
99984,1.020812,1.052344,1.968114,0.982551,1.616852,1.179981,0.895131,0.682767,0.264964,0.249560,...,0.996217,0.822391,0.695652,0.775711,0.662459,0.489923,1.480331,1.341484,0.287479,1.654635
99985,0.601902,0.668655,0.993608,0.908164,1.573304,0.915990,1.224030,0.980095,1.609797,1.379117,...,1.047957,1.365603,1.071258,1.393843,0.895901,0.905116,0.784502,0.974825,0.786482,0.831789
99986,0.807966,1.244172,1.479525,0.271927,1.526258,0.723148,0.684579,0.938080,0.932056,1.492702,...,1.314400,0.450672,0.415164,1.469929,0.883885,0.434236,1.184872,1.140739,1.489389,0.743043
99987,0.422134,0.203977,1.060854,1.051936,1.423068,0.197058,1.550561,0.558990,0.897500,1.771348,...,1.061666,0.943464,1.038509,0.274890,0.313890,1.295492,1.348120,1.625600,1.121427,1.070556
99988,1.408729,0.096513,0.658541,1.418604,0.739743,1.062589,1.466161,0.498428,0.726021,0.471588,...,1.093345,1.003636,0.917602,0.596864,0.991920,1.171438,0.502587,0.456775,0.753209,1.042944
99989,1.114098,1.028672,1.608625,1.814682,0.753791,0.777761,1.117208,0.234289,1.036616,1.051984,...,1.248339,1.304993,1.075861,0.722636,1.599971,1.306085,0.949846,0.843906,0.988384,0.740107
99990,0.658428,1.067048,0.847527,1.618571,1.189299,1.495436,1.390110,1.808112,1.329974,1.147462,...,1.426896,0.913289,0.855088,1.562972,1.138102,0.951114,0.552485,1.686356,1.362330,0.760501
99991,1.189577,1.163944,1.672914,0.945321,0.878216,0.643332,1.367458,0.518762,0.600535,1.347234,...,0.137194,1.133164,1.002779,1.071539,0.764326,1.523253,0.709643,1.030853,1.221633,1.893351
99992,0.808312,0.414590,0.579374,1.510760,0.773306,0.806414,0.689231,1.228378,1.178222,1.888808,...,0.726566,1.763885,1.252446,1.789752,1.075205,1.356719,0.561622,1.511527,1.342383,0.184207
99993,1.324271,1.043220,0.559215,0.451983,0.996112,1.155863,0.516320,0.592658,1.126365,0.870349,...,0.421803,0.830946,0.383373,1.033543,1.340461,0.435587,0.746785,0.520532,1.630724,1.065656
99994,0.405941,1.198800,1.380581,0.588917,1.206930,1.151124,0.880708,1.565323,1.347033,1.430682,...,1.444274,1.339522,1.464570,1.453707,0.908740,1.011209,1.830543,1.289598,1.672843,1.009191
99995,1.045469,1.070759,0.909209,0.728634,0.996060,1.300733,0.917771,0.867989,1.324900,1.300132,...,0.843519,0.560771,0.600764,0.941086,0.941878,0.739284,0.375729,1.184349,1.031524,1.763640
99996,1.017933,0.946832,1.180836,1.096137,0.480894,0.704690,1.656817,1.198553,1.590214,0.133691,...,0.708479,1.248276,1.044345,0.829245,1.097878,1.547446,0.920054,0.669320,0.806724,0.637229
99997,1.210628,1.000250,0.157345,1.109083,0.806835,0.515458,1.358310,0.683078,0.617398,1.842429,...,1.232751,1.144176,1.116789,0.911396,0.778269,0.489770,1.649387,1.091178,0.583648,0.988828
99998,1.685482,0.363327,1.254268,0.657311,0.647627,0.234716,1.114813,1.380831,0.436370,1.744830,...,0.478893,1.354087,0.944448,1.696175,1.400087,1.568309,0.534606,0.796227,1.717350,0.458296
99999,0.834697,0.742728,0.943514,1.153803,1.595564,1.415779,0.850241,1.020094,1.015718,0.500538,...,0.741722,0.597905,1.256397,0.502829,1.502224,0.781279,0.717837,0.974476,0.585065,1.035798

In [50]:
b = a.add(df3)
b

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.682863,2.217455,2.054043,2.249333,0.885022,1.474714,0.553742,1.514246,2.411589,0.883315,...,0.662607,1.957312,2.379440,1.662978,2.075591,1.586547,1.594090,0.943797,0.908991,1.411814
1,1.322563,1.184762,1.539690,1.002837,2.198749,1.394696,1.281751,1.686293,1.320444,1.087751,...,0.732079,1.212846,1.645868,1.452110,0.934242,1.777558,1.785667,1.792900,2.245290,1.270896
2,2.171304,0.791059,0.976173,1.115873,2.282824,1.544071,1.416285,1.810157,0.955272,1.439757,...,0.913153,1.437039,1.622436,1.360817,1.649267,1.507299,1.823975,1.527129,0.801562,1.416006
3,1.262950,2.181698,2.202042,1.753605,1.762171,2.099259,0.705449,2.121765,1.406977,0.989367,...,2.221481,1.907329,1.251312,1.534858,1.030989,2.086154,2.335035,1.052889,2.054275,1.772993
4,0.967494,1.987647,1.487876,2.348596,1.810117,1.511882,1.146305,0.668690,2.586715,1.248838,...,1.528287,1.984847,0.961555,1.212002,2.048899,1.896966,1.419510,0.545582,2.215453,2.865154
5,1.859879,1.791416,1.639695,2.097377,1.323200,0.593655,1.849499,2.103193,1.741990,1.089639,...,0.531069,1.884840,0.550512,1.551627,2.425436,1.428623,2.061299,0.337645,0.953525,0.731582
6,1.035073,1.591896,1.235940,1.939398,1.789940,1.286025,2.127725,1.878697,1.515975,1.470354,...,0.923172,0.765568,1.603839,1.663464,1.645447,1.788896,0.912982,1.546209,1.141925,1.685887
7,1.734607,0.334440,1.056972,0.627672,0.784788,2.662419,1.119363,2.339866,1.436854,0.890335,...,1.812388,1.291004,1.696450,1.471575,0.726985,1.279643,1.954924,1.035611,1.771811,1.682865
8,2.530068,0.671482,1.437291,1.727542,1.840902,2.226677,2.279427,1.625288,1.768454,1.500429,...,1.534394,2.129230,2.467181,1.341588,2.105725,1.106222,1.433530,2.224063,1.403356,1.464990
9,0.659043,0.931292,2.005150,1.720505,1.310564,2.264955,2.569706,1.347684,1.085152,1.721383,...,1.560220,2.058071,1.642564,1.692008,0.733780,1.102173,1.899551,1.113158,1.548709,1.709698
10,1.150499,1.121153,1.704480,2.012539,1.822183,1.725705,1.807944,1.724170,1.623190,2.015486,...,1.969092,2.072402,1.954944,2.145948,1.471795,1.462423,0.578020,0.824093,2.332966,1.604354
11,0.439411,1.940808,1.598068,1.876830,1.650920,1.319977,0.804396,2.668863,2.326792,0.976529,...,1.188352,1.196226,1.394273,0.819426,1.389198,2.369792,1.312492,2.488149,1.429275,0.686234
12,1.445695,1.192734,1.394037,0.904403,2.221927,1.479689,1.046955,1.294250,0.922984,1.806496,...,1.023807,1.174564,1.381696,1.704990,2.174813,0.878871,0.960319,1.170673,2.242554,1.545687
13,1.382358,1.812628,0.853693,1.556561,1.136537,1.727084,1.532258,1.788957,1.414167,1.110566,...,1.566682,1.275221,0.739314,2.108194,1.591427,2.294826,1.417592,1.086041,2.288501,2.220033
14,0.710218,0.420645,1.170257,1.068181,1.318960,1.233928,1.570399,2.020570,2.403705,1.561532,...,1.543944,1.147433,1.221618,1.785819,1.602376,1.552401,2.249212,2.084063,0.845348,1.808087
15,1.179586,1.642329,0.344651,1.445832,1.526503,0.940839,1.761530,1.765468,1.090581,2.251004,...,2.480160,2.742656,1.451491,1.260099,1.098937,1.861213,1.266743,1.169101,0.786484,1.020550
16,1.292709,0.955099,1.268025,1.895371,0.457698,1.708081,1.620469,1.694918,0.665478,1.792125,...,0.958764,1.546330,1.295899,1.218629,1.182342,1.026372,0.650356,0.387656,1.837807,2.240961
17,2.166689,1.594391,1.500934,1.652007,2.132826,1.101492,1.906330,1.081059,1.600140,2.252405,...,0.816683,1.622920,1.706620,2.131206,0.957863,1.926370,1.512824,1.526236,1.514914,1.297346
18,2.008859,1.376342,1.953068,1.088515,1.366429,2.281034,2.200307,0.565592,0.713858,0.762826,...,1.057428,1.329508,0.920753,1.024634,1.440953,1.610592,2.056807,1.160479,1.341273,1.926627
19,2.001412,1.266409,2.135096,0.398771,2.430212,0.775556,2.529659,1.513660,1.275354,1.244328,...,1.072265,1.928325,1.518187,0.662196,2.567202,1.979638,1.876220,1.540820,0.493184,1.476126
20,1.175127,1.194462,1.933401,1.627776,1.624823,2.146298,1.324374,2.421804,1.438736,1.606449,...,1.018255,1.551256,1.753696,1.365742,0.789577,2.317443,0.979690,1.197539,1.835725,1.428201
21,1.318857,1.162970,0.967132,1.332901,2.670802,0.937979,1.344773,2.526795,0.656817,1.881955,...,1.337322,2.271180,1.600160,1.378602,0.469069,1.567907,0.502608,1.457359,1.320093,2.076170
22,1.511044,1.532559,0.618800,0.851682,1.553426,1.946053,0.950862,2.282405,0.506886,1.213560,...,1.767369,0.815252,0.770380,1.355977,1.660230,0.752873,0.839393,0.682845,0.515213,1.132288
23,1.385825,1.358236,1.531095,1.461102,2.512428,1.120379,1.501609,1.159317,1.670597,1.685180,...,0.998835,1.549283,1.292185,0.862103,2.549650,1.882803,0.778937,0.676359,1.226249,1.925251
24,1.413269,1.734740,1.413127,1.699981,1.261838,1.952741,1.003125,1.050396,1.995641,1.454431,...,0.716653,0.682837,0.820195,1.655000,1.760602,1.461600,1.937801,1.881532,1.593456,1.295610
25,2.045448,1.949497,1.168066,2.096904,1.376013,1.762141,2.012814,1.690130,1.388853,2.326942,...,1.552029,1.792532,1.787793,1.714860,1.655017,1.213242,0.879625,0.969431,1.068404,0.687770
26,1.723720,1.238217,1.608654,1.177340,0.832553,1.558057,0.632153,0.684411,2.136053,1.031849,...,1.694295,1.498175,0.721013,1.942845,2.277693,1.319510,2.234020,1.765728,1.642442,1.897409
27,1.153528,1.526987,1.356080,0.202970,1.757894,2.613306,0.873787,1.533269,0.225532,0.784195,...,1.397767,1.698819,1.107048,1.383930,1.446169,1.556706,1.206523,1.596516,2.041736,0.628392
28,2.646712,2.169593,2.159488,2.593373,2.108417,1.667959,2.621399,1.256288,1.905284,2.259066,...,1.540076,2.602589,1.007196,1.877124,1.180547,2.641258,1.212166,1.122049,1.959942,0.733615
29,0.487882,2.125886,1.023741,1.114009,0.869628,0.690967,2.035550,1.117534,1.211006,1.331013,...,1.263244,1.819542,1.384639,0.656113,1.022792,2.021787,1.190761,1.564015,1.202081,1.661772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1.721188,1.585701,1.027178,1.272057,2.078475,1.827125,1.031803,1.216522,1.069498,0.782922,...,0.719046,1.543577,1.586089,1.415228,1.636232,2.727909,1.567267,1.235473,0.933331,1.498441
99971,0.400813,1.743836,1.547171,2.532055,0.614026,0.681457,1.640160,1.047084,1.723368,0.340373,...,1.762939,2.011767,1.398329,1.425149,1.595632,1.325129,1.190863,0.907125,1.888048,1.448296
99972,1.719873,1.902293,1.069417,2.364718,2.525376,1.491106,2.547445,1.285578,1.377841,2.574221,...,1.808110,1.076357,1.233665,1.558543,1.289484,0.877998,1.354132,1.289298,1.864605,1.172106
99973,2.411444,1.901674,1.430352,1.427055,1.868512,1.510118,2.211526,1.314325,1.538727,0.916595,...,0.968345,2.055667,2.071540,1.686961,1.561546,1.413963,1.395146,0.934715,1.554248,1.627576
99974,1.282884,1.376794,2.170732,2.246810,2.060321,1.118593,0.702187,1.150532,1.235146,1.598244,...,1.111471,1.703906,2.037432,2.330007,2.416276,1.046012,1.306915,0.824708,1.696094,1.073210
99975,1.721579,1.329494,1.984364,1.629381,1.743821,0.830558,0.757021,1.150690,1.115238,2.189960,...,1.287799,1.286952,1.850791,0.996865,1.303180,2.072840,1.435994,1.980753,1.434984,1.418603
99976,1.809959,1.443939,1.080905,2.071859,1.315809,1.786471,2.448808,1.183418,1.524067,1.891433,...,1.841971,1.000544,1.504128,1.896093,1.728462,2.214000,0.781535,1.646831,1.770170,1.237787
99977,0.875412,1.289234,0.963062,1.112708,1.062004,2.184826,2.178124,0.931517,2.363647,1.400878,...,0.477422,1.224771,1.337581,1.311669,1.895182,2.279530,1.893902,0.518607,1.496551,0.932051
99978,0.993650,1.822087,1.641771,2.063058,1.481146,2.163900,1.895223,1.104053,0.682201,1.009332,...,1.503995,1.454200,0.286164,2.241565,2.142853,1.615967,2.405252,1.774965,1.889787,1.462076
99979,1.366469,0.753688,1.157502,1.851214,1.462845,2.237544,1.923638,1.931827,1.720079,1.546130,...,2.184747,1.335743,1.171058,0.993594,1.339928,1.077203,1.313442,1.114428,1.246275,1.256563
99980,1.095494,1.336731,0.508692,1.479080,2.117163,2.055991,1.563364,1.592140,1.748287,0.917127,...,2.428077,1.089776,0.331503,1.775180,1.744580,1.671930,1.234998,1.172615,1.506503,1.398187
99981,1.393664,0.553124,0.758004,1.649719,1.049002,1.335679,1.582142,1.897181,2.042530,0.569802,...,1.465312,1.447363,2.664887,0.421147,1.241265,1.538948,1.246224,2.378783,1.631071,1.234211
99982,1.364073,0.855486,2.236983,1.807789,1.018783,0.639064,1.650752,1.228516,1.689370,1.926086,...,2.049220,1.334252,1.531276,2.072164,1.141899,1.278843,1.686634,1.829743,2.179501,1.439466
99983,0.873620,1.266929,1.929386,1.835681,0.861277,1.042787,2.526591,0.848631,0.445450,1.907294,...,1.656384,2.114427,1.201965,0.460226,1.866480,1.730907,2.593825,0.891794,1.625302,1.227231
99984,1.795494,1.957729,2.721006,1.755621,1.923522,1.572367,1.839225,0.860569,0.586638,0.544692,...,1.461604,1.516342,1.028657,1.241613,0.962204,1.480052,2.086576,1.539865,0.312864,2.563373
99985,1.384814,0.954583,1.714828,1.398273,2.551417,1.906219,1.396263,1.629215,2.241928,1.381683,...,1.140916,1.696380,1.219958,1.393990,1.058955,1.514580,1.353463,1.449722,1.131461,1.039514
99986,1.506534,2.060789,2.128830,0.870826,2.032968,1.637719,1.493948,1.513214,1.587667,2.133698,...,2.143430,1.350602,0.813764,1.549303,1.024081,1.215406,1.511454,1.789693,1.819422,1.699058
99987,0.606598,1.007013,1.878234,1.174228,1.762541,0.393957,1.863029,1.491881,1.484734,2.539102,...,1.413237,1.585910,1.755836,0.708103,0.913703,1.344272,2.134445,2.397515,1.137640,1.074729
99988,1.644391,1.094643,1.299698,2.048248,0.811624,1.963204,2.191818,1.175564,1.124707,0.973374,...,1.548913,1.074816,1.747510,1.364222,1.586668,1.856664,1.313735,0.978261,1.270959,1.381149
99989,1.681545,1.519651,1.923129,2.807146,1.521834,1.460947,1.633890,0.882083,1.320597,1.169089,...,1.284122,2.058304,1.639310,1.071729,2.180323,2.093308,1.838003,0.871072,1.342888,0.916690
99990,0.662238,1.379165,1.778085,1.878701,2.139827,2.372523,2.231153,2.005994,1.770589,1.300343,...,1.531952,1.463773,1.137595,1.780574,1.209226,1.849440,1.412591,2.229303,1.889020,0.980392
99991,2.148497,1.743319,2.073263,1.642645,1.519366,1.548031,1.661047,1.269674,0.838475,2.182360,...,0.881028,1.303961,1.942737,1.117571,0.957292,1.831673,1.250335,1.446594,1.337841,2.874182
99992,1.457509,1.238454,1.498692,1.857432,1.031049,1.494639,0.852215,1.706578,1.449393,1.952792,...,1.012579,2.293409,2.160606,2.549359,1.630907,1.801835,0.880390,2.067947,2.041145,0.964634
99993,2.028548,1.206057,0.653071,1.217394,1.088488,1.248710,0.790710,1.144511,1.345196,1.344781,...,1.338153,1.738108,1.147700,1.144042,1.582225,1.182833,1.740581,0.959594,2.165429,1.364453
99994,1.379769,1.491159,2.138153,1.421756,1.742701,1.523238,1.652428,2.109017,1.982784,2.356937,...,2.182494,1.787370,2.293363,1.872522,1.650154,1.942712,1.865869,1.999792,1.950469,1.900735
99995,1.698908,1.648105,1.734426,1.509214,1.913140,1.513634,1.511747,1.122539,2.167079,1.816492,...,1.208333,0.664068,0.666378,1.784789,1.082770,1.721077,0.692254,1.689526,1.043029,2.198780
99996,1.581729,1.381208,2.010145,1.717128,1.107256,1.084151,2.100907,1.737433,1.807284,0.907810,...,1.500240,1.264105,1.271288,1.151456,1.248973,2.122480,1.514960,0.816523,1.148408,1.635536
99997,1.632944,1.444848,0.967700,1.507291,1.654035,1.270273,1.763278,1.122062,1.288719,2.750246,...,1.570600,1.766614,1.382733,1.739659,1.506123,1.242781,1.909557,1.432596,1.403720,1.330050
99998,2.021831,0.883623,1.979226,1.034128,1.046252,1.044712,1.749797,2.140571,1.215729,2.116399,...,0.909982,1.879044,1.766822,2.618293,1.404188,1.909267,1.096317,1.202159,1.936507,1.393592
99999,1.355186,1.672470,1.644675,1.232916,2.072632,1.983905,1.543548,1.280718,1.143969,0.718466,...,1.524490,1.251219,1.936449,0.971731,2.163724,0.937965,1.358664,1.262611,0.898260,1.186809

In [51]:
Sum = b.add(df4)
Sum

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.456085,2.240325,2.189299,2.796486,0.997756,1.857199,0.836188,1.993636,3.384643,1.851474,...,1.405156,1.972001,3.018147,2.220360,3.010689,1.747911,2.386533,1.733311,1.431434,1.987172
1,1.930732,1.325833,2.100320,1.031509,2.216550,2.322945,2.221711,2.551356,1.446013,1.150052,...,1.295991,1.298014,2.191522,1.514702,1.013891,2.682375,2.355956,1.905342,2.432560,1.438647
2,2.961585,1.241173,1.292687,1.559529,3.244460,1.727601,1.508593,2.373529,1.092988,1.932929,...,1.857067,2.436111,2.279347,2.240607,2.450652,1.527546,2.098585,1.540268,1.685716,1.544752
3,1.325278,2.311100,3.153195,2.428513,2.468706,2.168389,1.036675,2.543273,1.985104,1.664177,...,2.248197,2.597650,1.624677,1.896175,1.075806,2.305705,3.019780,1.157161,3.050878,2.029253
4,1.107165,1.998018,2.171741,3.011473,2.403474,1.785172,1.148053,0.842213,3.165272,1.333032,...,2.001123,2.899136,1.595563,2.134547,2.112748,2.100429,2.224902,0.643061,2.949058,3.143277
5,2.529727,2.286030,1.841785,2.541460,1.769361,1.050646,2.075684,2.324688,2.438428,1.781407,...,1.157299,2.559414,0.801015,1.965303,2.642901,1.984894,2.829832,0.389572,1.558335,1.056066
6,1.833114,2.550224,1.876560,2.686080,2.105999,1.495751,2.170603,1.910861,2.120342,1.817153,...,1.377561,0.998171,2.314678,2.091576,2.251880,2.556874,1.599663,1.599870,1.654136,2.321083
7,2.289387,1.210696,1.918794,1.483511,1.278016,3.160189,1.160647,2.625092,1.846446,1.119391,...,2.031164,1.444658,2.145769,1.736351,1.195094,1.745555,2.303146,1.254152,1.908617,1.917989
8,3.505600,0.808907,2.404487,2.225093,2.322124,2.821739,3.197666,1.832822,2.275828,2.170450,...,1.814867,3.009457,3.405309,1.619064,2.217507,1.146233,2.379295,2.301173,1.770566,2.384656
9,0.969624,1.649156,2.804440,2.420300,1.520629,3.108249,2.920252,1.925706,1.636896,1.866250,...,2.514131,2.116830,1.848514,2.432347,1.275528,1.131998,2.870750,1.874162,2.033666,2.138631
10,1.453052,1.816415,2.583319,2.900471,2.035049,1.853284,2.122161,1.726273,1.780189,2.455611,...,2.379638,2.081663,2.272032,3.043300,2.100510,1.625051,0.725707,1.696533,2.345716,1.782420
11,0.673214,2.534474,1.947575,1.940661,1.876430,1.794956,1.588995,3.017800,2.863790,1.351149,...,1.542789,1.252285,2.391651,1.687003,1.811960,2.384660,2.305491,3.423160,2.052245,0.763932
12,2.152171,1.906601,1.889178,1.307331,3.143899,1.655625,1.447486,1.346744,1.756410,2.194557,...,1.395396,1.640794,1.848954,2.109898,2.977253,1.023336,1.626183,1.430499,3.237348,1.716017
13,1.703104,2.690384,1.323316,1.741178,2.034659,2.565745,2.283950,2.330209,2.066688,1.745909,...,2.500216,1.546899,1.701546,2.630685,2.047993,3.216496,2.201913,1.283512,2.668225,2.728418
14,1.232189,1.038214,1.607278,1.850894,2.223648,2.193560,2.068241,2.928066,2.542520,2.113270,...,1.572091,1.660635,2.046140,2.732769,2.355748,2.154696,2.479858,2.117175,1.173931,2.091919
15,1.449457,1.749207,1.275558,2.100333,1.708329,1.845191,2.385540,2.089824,1.460171,2.439756,...,2.868694,3.323866,2.328474,2.205978,1.154057,2.221118,1.843158,2.165919,1.274724,1.595428
16,1.897001,1.811584,1.759278,2.711842,0.536237,1.754557,2.124654,1.730160,1.615390,2.575856,...,1.814866,1.841488,1.905132,2.036195,1.655814,1.090724,0.769067,1.330695,2.175078,3.225375
17,3.029724,1.736270,1.988045,1.782844,2.931015,1.353246,2.389335,1.585083,1.612419,2.711087,...,1.217383,2.027409,1.761369,2.759749,1.505929,2.081585,1.585609,2.050830,2.096098,1.461890
18,2.117062,1.780246,1.993014,1.100525,2.025774,2.308838,2.631418,0.983190,1.051478,1.196027,...,1.285075,1.734414,1.062750,1.383288,1.662243,2.507893,2.376203,2.115969,1.550455,1.943637
19,2.027139,1.467598,2.665543,0.556862,3.420525,1.637984,3.276057,2.472893,1.981402,1.978065,...,1.126233,2.578675,1.874941,0.669410,3.152788,2.474398,2.219984,2.352224,1.270148,1.656823
20,1.186245,1.445597,2.637205,1.684491,2.401435,2.734657,1.799661,3.288274,2.289533,2.097798,...,1.742349,1.792633,1.772443,1.601414,1.199044,2.518716,1.520656,1.306916,2.092927,1.955126
21,1.962968,2.162168,1.779002,1.904916,3.084050,1.797401,2.296266,3.322025,0.786464,2.741651,...,2.117229,2.903842,2.262158,2.129186,0.730624,1.916472,1.104522,2.289814,1.626387,2.982586
22,1.742456,1.973178,1.422866,1.206253,1.819131,2.304513,1.637438,2.912748,1.373777,2.014147,...,2.161265,0.826687,1.305829,2.098494,1.901161,1.071817,1.200332,1.396776,0.895496,1.966372
23,1.507669,2.304746,2.188949,2.394654,3.022431,1.691653,2.288863,1.542011,2.044279,2.275983,...,1.295104,1.673682,2.077875,0.961157,2.589515,2.662890,1.129586,0.845864,2.041472,2.622523
24,1.667253,2.304801,1.643218,1.906900,1.741269,2.564624,1.290231,1.290601,2.348601,1.860723,...,1.096785,1.323375,1.258478,1.846658,2.267135,1.923982,2.101290,2.576447,1.958138,1.512029
25,3.038242,2.849454,1.327922,2.443321,1.794859,2.692499,2.885290,1.988959,1.671620,2.343626,...,1.585463,2.106450,2.200665,2.417397,2.438156,1.524865,1.350516,1.549921,1.880187,1.047648
26,2.210038,2.126220,2.389147,1.711662,1.183796,2.008372,1.156781,0.946796,2.635934,1.156814,...,2.567562,1.688154,0.826145,2.697065,2.435885,2.097123,2.884895,2.738346,2.493706,2.208603
27,1.407491,1.865896,1.613920,0.602684,1.981845,2.752007,1.827062,1.786168,0.549221,1.739578,...,1.812865,2.199998,1.636548,1.610453,2.330377,2.283877,1.400488,1.861725,2.838918,1.101202
28,3.267052,3.165638,2.996827,2.824158,2.541678,2.305835,3.357698,2.186867,2.366480,2.712085,...,2.083917,3.235981,1.736450,2.371403,1.440608,2.802317,2.101925,1.619235,2.072106,1.214266
29,0.768083,2.968913,1.981050,1.806244,1.325520,1.396097,2.039139,1.327618,1.295122,1.871042,...,1.792426,2.494779,2.022854,0.676690,1.143430,2.886865,1.640658,1.877204,1.895740,1.988795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2.720973,2.099281,1.511831,1.572617,2.167500,1.867705,1.833032,2.113457,1.372958,1.402561,...,1.382721,2.340632,2.418351,1.974583,2.328737,2.764842,2.032175,1.255271,0.965864,1.552767
99971,0.900667,1.923872,1.960494,2.716563,1.443832,0.934237,2.268561,1.137339,2.138794,0.516597,...,2.205422,2.956334,1.424770,1.908577,1.695521,2.284933,1.533750,1.747455,2.439444,2.111675
99972,1.879358,2.131145,1.822741,3.272078,2.993150,1.582101,2.573320,2.123200,1.461488,3.039809,...,2.189689,1.524174,1.882610,1.998752,1.967850,1.285238,2.188817,2.054732,2.816292,1.693329
99973,2.841798,1.950204,2.116629,1.694168,2.457025,1.590836,2.402997,1.463132,1.683868,1.839145,...,1.706165,2.861304,2.301795,1.984522,2.025310,1.997721,2.356896,1.587012,2.058481,2.186342
99974,2.089462,1.760106,2.524023,2.706587,2.532305,1.233845,0.957262,2.006566,1.589196,2.067332,...,2.083474,2.680428,2.995183,3.174656,2.581464,1.498646,1.916825,1.668433,1.846584,1.845606
99975,1.870908,2.127161,2.774161,2.002181,2.492638,1.125879,0.999363,2.064809,1.853981,2.233201,...,1.972404,1.396330,2.532544,1.273616,1.854553,2.392966,2.223151,2.642585,1.589090,1.952765
99976,2.427957,1.992240,1.899150,2.797071,1.367548,2.243787,3.331564,1.323467,1.942649,2.662032,...,2.190299,1.545649,2.233127,2.575085,2.258446,3.076366,1.611149,1.985844,2.534271,1.334893
99977,1.853213,2.262653,1.474000,1.221203,1.221548,2.969487,2.733378,1.108300,3.196995,2.023229,...,1.196491,1.873896,2.010153,2.053104,2.770497,2.815749,2.540334,0.830537,2.257850,1.339561
99978,1.806707,2.616367,2.561749,2.908497,2.122009,2.382147,2.123836,1.365817,1.597979,1.261453,...,1.536278,2.186786,0.516044,3.233332,2.567771,2.305927,2.640347,2.516617,1.935197,1.714070
99979,1.921293,1.053692,1.163612,2.438733,1.985102,2.459441,1.923761,2.133136,2.282194,2.359468,...,2.326690,1.667339,2.074171,1.914721,1.990047,1.785399,1.687230,1.431270,1.624879,1.731222
99980,1.548266,1.523914,0.516430,2.063182,2.612366,2.721419,1.687046,1.916954,2.025186,1.475500,...,2.916962,1.740092,0.369208,2.676261,2.499222,1.918852,1.643411,1.265980,1.872594,2.235704
99981,2.136861,0.682177,0.945267,2.367237,1.686822,1.564250,1.656511,1.927764,2.983409,0.855689,...,1.499209,1.936219,2.904712,1.272503,1.934206,2.178201,1.935533,3.104901,2.042591,1.752550
99982,2.346649,1.329105,2.673362,2.339481,1.028955,0.766322,2.093564,1.486922,2.106040,1.935764,...,2.247181,1.660603,2.254615,2.621480,1.659217,2.110938,2.470022,2.359924,2.968647,2.098067
99983,1.405765,2.070329,2.172424,2.314741,1.794237,1.908839,3.413787,1.385935,1.283685,2.783633,...,2.506881,3.081882,1.972034,0.475876,2.575435,2.133713,2.867264,1.732730,1.831861,1.354536
99984,2.362765,2.190928,3.471756,2.511914,2.920498,1.645430,1.852813,1.594432,1.290186,1.505811,...,2.300081,1.649063,1.204388,2.055990,1.116673,2.241748,2.780365,2.461974,0.715167,3.354131
99985,1.653298,1.170811,2.648263,1.464368,3.376029,2.686461,1.818216,2.061906,2.448822,1.716538,...,2.026350,2.203301,1.236588,2.330305,1.332705,1.531133,1.363433,1.734751,1.273995,1.556117
99986,2.321994,2.726122,2.305241,1.317790,2.245922,2.633858,2.340699,1.560148,2.245819,2.600717,...,2.498680,2.222970,1.654151,1.924431,1.993898,1.859339,1.969085,1.886730,1.988250,2.180722
99987,1.212179,1.159788,2.803700,1.870679,1.772416,0.787019,2.292537,2.418902,1.863137,3.211870,...,1.943418,2.135067,1.980941,0.857108,1.205516,2.125668,3.105553,2.926618,1.177321,1.494216
99988,1.945091,1.639819,1.918852,2.179307,1.304276,1.981897,2.492099,1.445377,1.515096,1.765245,...,2.023479,1.376962,1.871190,1.486913,1.604741,2.387040,2.046426,1.776867,1.886274,1.522961
99989,2.040032,2.192537,2.147737,3.802939,2.040119,1.692062,2.227425,1.467336,1.414681,1.186079,...,1.487859,2.695931,1.823389,1.535950,2.533355,2.233974,1.912686,1.606012,1.677495,1.090460
99990,1.237808,2.223027,2.474764,2.773193,2.484599,2.689616,3.228562,2.088947,2.471298,1.847874,...,1.971181,1.487837,1.367118,2.259710,1.626144,2.347477,1.955410,2.579857,2.166550,1.076714
99991,2.436503,2.566128,3.070286,2.606898,1.724611,2.400306,1.825963,1.448154,1.496346,2.361908,...,1.815644,1.415418,2.502511,1.258487,1.298193,1.860182,1.399211,1.740669,1.970275,3.057675
99992,2.133103,1.652657,2.064544,2.609207,1.124066,1.625627,1.686558,2.366182,1.695228,2.897846,...,1.450119,3.018549,2.183167,3.045669,2.331310,1.836002,0.933360,2.926402,2.469891,1.050197
99993,2.635077,1.655436,0.735955,2.045954,1.779264,1.714414,1.074490,1.592654,1.541313,1.732518,...,1.692508,2.342566,1.436563,1.915419,2.581210,1.512724,2.344805,1.516592,2.384758,2.328794
99994,2.208062,1.768444,2.929948,1.804712,1.989707,2.473341,2.055708,2.681383,2.981290,2.787367,...,2.490115,2.031337,2.746501,2.616511,2.522149,2.024377,2.596863,2.309965,2.550649,2.547372
99995,1.948321,1.751224,2.276621,2.203974,2.752196,1.811677,1.544824,1.347874,2.406432,2.045719,...,2.156290,1.469662,1.239475,2.085855,1.546402,2.670792,0.801108,1.924963,1.309836,2.598576
99996,2.249443,2.248954,2.840738,2.278969,1.552147,1.613808,2.537029,2.572771,1.855158,1.570820,...,1.528213,1.484577,1.659783,1.798531,1.920396,3.043902,1.965024,1.725764,1.465961,1.805480
99997,1.942065,2.352778,1.104218,1.777017,2.159435,1.715014,2.424385,2.013074,1.637694,3.488990,...,2.159156,2.096489,1.486934,2.669343,2.069421,1.332025,2.191244,2.179376,1.816149,1.682464
99998,2.681177,0.958664,2.867072,1.127300,1.277971,1.268119,1.756763,2.250528,1.326825,2.479023,...,1.608354,2.040729,2.223907,3.272577,1.933145,2.578746,1.132848,1.919029,2.201389,1.950606
99999,2.300429,2.501596,2.385804,1.518952,2.691974,2.580092,2.047616,1.384078,1.879208,1.342491,...,1.807613,1.410310,2.396323,1.458223,3.108393,1.609983,1.459910,2.062004,1.693840,1.758297

## Pandas eval() method:

In [52]:
pd.eval("df1 + df2 + df3 + df4")

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,2.456085,2.240325,2.189299,2.796486,0.997756,1.857199,0.836188,1.993636,3.384643,1.851474,...,1.405156,1.972001,3.018147,2.220360,3.010689,1.747911,2.386533,1.733311,1.431434,1.987172
1,1.930732,1.325833,2.100320,1.031509,2.216550,2.322945,2.221711,2.551356,1.446013,1.150052,...,1.295991,1.298014,2.191522,1.514702,1.013891,2.682375,2.355956,1.905342,2.432560,1.438647
2,2.961585,1.241173,1.292687,1.559529,3.244460,1.727601,1.508593,2.373529,1.092988,1.932929,...,1.857067,2.436111,2.279347,2.240607,2.450652,1.527546,2.098585,1.540268,1.685716,1.544752
3,1.325278,2.311100,3.153195,2.428513,2.468706,2.168389,1.036675,2.543273,1.985104,1.664177,...,2.248197,2.597650,1.624677,1.896175,1.075806,2.305705,3.019780,1.157161,3.050878,2.029253
4,1.107165,1.998018,2.171741,3.011473,2.403474,1.785172,1.148053,0.842213,3.165272,1.333032,...,2.001123,2.899136,1.595563,2.134547,2.112748,2.100429,2.224902,0.643061,2.949058,3.143277
5,2.529727,2.286030,1.841785,2.541460,1.769361,1.050646,2.075684,2.324688,2.438428,1.781407,...,1.157299,2.559414,0.801015,1.965303,2.642901,1.984894,2.829832,0.389572,1.558335,1.056066
6,1.833114,2.550224,1.876560,2.686080,2.105999,1.495751,2.170603,1.910861,2.120342,1.817153,...,1.377561,0.998171,2.314678,2.091576,2.251880,2.556874,1.599663,1.599870,1.654136,2.321083
7,2.289387,1.210696,1.918794,1.483511,1.278016,3.160189,1.160647,2.625092,1.846446,1.119391,...,2.031164,1.444658,2.145769,1.736351,1.195094,1.745555,2.303146,1.254152,1.908617,1.917989
8,3.505600,0.808907,2.404487,2.225093,2.322124,2.821739,3.197666,1.832822,2.275828,2.170450,...,1.814867,3.009457,3.405309,1.619064,2.217507,1.146233,2.379295,2.301173,1.770566,2.384656
9,0.969624,1.649156,2.804440,2.420300,1.520629,3.108249,2.920252,1.925706,1.636896,1.866250,...,2.514131,2.116830,1.848514,2.432347,1.275528,1.131998,2.870750,1.874162,2.033666,2.138631
10,1.453052,1.816415,2.583319,2.900471,2.035049,1.853284,2.122161,1.726273,1.780189,2.455611,...,2.379638,2.081663,2.272032,3.043300,2.100510,1.625051,0.725707,1.696533,2.345716,1.782420
11,0.673214,2.534474,1.947575,1.940661,1.876430,1.794956,1.588995,3.017800,2.863790,1.351149,...,1.542789,1.252285,2.391651,1.687003,1.811960,2.384660,2.305491,3.423160,2.052245,0.763932
12,2.152171,1.906601,1.889178,1.307331,3.143899,1.655625,1.447486,1.346744,1.756410,2.194557,...,1.395396,1.640794,1.848954,2.109898,2.977253,1.023336,1.626183,1.430499,3.237348,1.716017
13,1.703104,2.690384,1.323316,1.741178,2.034659,2.565745,2.283950,2.330209,2.066688,1.745909,...,2.500216,1.546899,1.701546,2.630685,2.047993,3.216496,2.201913,1.283512,2.668225,2.728418
14,1.232189,1.038214,1.607278,1.850894,2.223648,2.193560,2.068241,2.928066,2.542520,2.113270,...,1.572091,1.660635,2.046140,2.732769,2.355748,2.154696,2.479858,2.117175,1.173931,2.091919
15,1.449457,1.749207,1.275558,2.100333,1.708329,1.845191,2.385540,2.089824,1.460171,2.439756,...,2.868694,3.323866,2.328474,2.205978,1.154057,2.221118,1.843158,2.165919,1.274724,1.595428
16,1.897001,1.811584,1.759278,2.711842,0.536237,1.754557,2.124654,1.730160,1.615390,2.575856,...,1.814866,1.841488,1.905132,2.036195,1.655814,1.090724,0.769067,1.330695,2.175078,3.225375
17,3.029724,1.736270,1.988045,1.782844,2.931015,1.353246,2.389335,1.585083,1.612419,2.711087,...,1.217383,2.027409,1.761369,2.759749,1.505929,2.081585,1.585609,2.050830,2.096098,1.461890
18,2.117062,1.780246,1.993014,1.100525,2.025774,2.308838,2.631418,0.983190,1.051478,1.196027,...,1.285075,1.734414,1.062750,1.383288,1.662243,2.507893,2.376203,2.115969,1.550455,1.943637
19,2.027139,1.467598,2.665543,0.556862,3.420525,1.637984,3.276057,2.472893,1.981402,1.978065,...,1.126233,2.578675,1.874941,0.669410,3.152788,2.474398,2.219984,2.352224,1.270148,1.656823
20,1.186245,1.445597,2.637205,1.684491,2.401435,2.734657,1.799661,3.288274,2.289533,2.097798,...,1.742349,1.792633,1.772443,1.601414,1.199044,2.518716,1.520656,1.306916,2.092927,1.955126
21,1.962968,2.162168,1.779002,1.904916,3.084050,1.797401,2.296266,3.322025,0.786464,2.741651,...,2.117229,2.903842,2.262158,2.129186,0.730624,1.916472,1.104522,2.289814,1.626387,2.982586
22,1.742456,1.973178,1.422866,1.206253,1.819131,2.304513,1.637438,2.912748,1.373777,2.014147,...,2.161265,0.826687,1.305829,2.098494,1.901161,1.071817,1.200332,1.396776,0.895496,1.966372
23,1.507669,2.304746,2.188949,2.394654,3.022431,1.691653,2.288863,1.542011,2.044279,2.275983,...,1.295104,1.673682,2.077875,0.961157,2.589515,2.662890,1.129586,0.845864,2.041472,2.622523
24,1.667253,2.304801,1.643218,1.906900,1.741269,2.564624,1.290231,1.290601,2.348601,1.860723,...,1.096785,1.323375,1.258478,1.846658,2.267135,1.923982,2.101290,2.576447,1.958138,1.512029
25,3.038242,2.849454,1.327922,2.443321,1.794859,2.692499,2.885290,1.988959,1.671620,2.343626,...,1.585463,2.106450,2.200665,2.417397,2.438156,1.524865,1.350516,1.549921,1.880187,1.047648
26,2.210038,2.126220,2.389147,1.711662,1.183796,2.008372,1.156781,0.946796,2.635934,1.156814,...,2.567562,1.688154,0.826145,2.697065,2.435885,2.097123,2.884895,2.738346,2.493706,2.208603
27,1.407491,1.865896,1.613920,0.602684,1.981845,2.752007,1.827062,1.786168,0.549221,1.739578,...,1.812865,2.199998,1.636548,1.610453,2.330377,2.283877,1.400488,1.861725,2.838918,1.101202
28,3.267052,3.165638,2.996827,2.824158,2.541678,2.305835,3.357698,2.186867,2.366480,2.712085,...,2.083917,3.235981,1.736450,2.371403,1.440608,2.802317,2.101925,1.619235,2.072106,1.214266
29,0.768083,2.968913,1.981050,1.806244,1.325520,1.396097,2.039139,1.327618,1.295122,1.871042,...,1.792426,2.494779,2.022854,0.676690,1.143430,2.886865,1.640658,1.877204,1.895740,1.988795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2.720973,2.099281,1.511831,1.572617,2.167500,1.867705,1.833032,2.113457,1.372958,1.402561,...,1.382721,2.340632,2.418351,1.974583,2.328737,2.764842,2.032175,1.255271,0.965864,1.552767
99971,0.900667,1.923872,1.960494,2.716563,1.443832,0.934237,2.268561,1.137339,2.138794,0.516597,...,2.205422,2.956334,1.424770,1.908577,1.695521,2.284933,1.533750,1.747455,2.439444,2.111675
99972,1.879358,2.131145,1.822741,3.272078,2.993150,1.582101,2.573320,2.123200,1.461488,3.039809,...,2.189689,1.524174,1.882610,1.998752,1.967850,1.285238,2.188817,2.054732,2.816292,1.693329
99973,2.841798,1.950204,2.116629,1.694168,2.457025,1.590836,2.402997,1.463132,1.683868,1.839145,...,1.706165,2.861304,2.301795,1.984522,2.025310,1.997721,2.356896,1.587012,2.058481,2.186342
99974,2.089462,1.760106,2.524023,2.706587,2.532305,1.233845,0.957262,2.006566,1.589196,2.067332,...,2.083474,2.680428,2.995183,3.174656,2.581464,1.498646,1.916825,1.668433,1.846584,1.845606
99975,1.870908,2.127161,2.774161,2.002181,2.492638,1.125879,0.999363,2.064809,1.853981,2.233201,...,1.972404,1.396330,2.532544,1.273616,1.854553,2.392966,2.223151,2.642585,1.589090,1.952765
99976,2.427957,1.992240,1.899150,2.797071,1.367548,2.243787,3.331564,1.323467,1.942649,2.662032,...,2.190299,1.545649,2.233127,2.575085,2.258446,3.076366,1.611149,1.985844,2.534271,1.334893
99977,1.853213,2.262653,1.474000,1.221203,1.221548,2.969487,2.733378,1.108300,3.196995,2.023229,...,1.196491,1.873896,2.010153,2.053104,2.770497,2.815749,2.540334,0.830537,2.257850,1.339561
99978,1.806707,2.616367,2.561749,2.908497,2.122009,2.382147,2.123836,1.365817,1.597979,1.261453,...,1.536278,2.186786,0.516044,3.233332,2.567771,2.305927,2.640347,2.516617,1.935197,1.714070
99979,1.921293,1.053692,1.163612,2.438733,1.985102,2.459441,1.923761,2.133136,2.282194,2.359468,...,2.326690,1.667339,2.074171,1.914721,1.990047,1.785399,1.687230,1.431270,1.624879,1.731222
99980,1.548266,1.523914,0.516430,2.063182,2.612366,2.721419,1.687046,1.916954,2.025186,1.475500,...,2.916962,1.740092,0.369208,2.676261,2.499222,1.918852,1.643411,1.265980,1.872594,2.235704
99981,2.136861,0.682177,0.945267,2.367237,1.686822,1.564250,1.656511,1.927764,2.983409,0.855689,...,1.499209,1.936219,2.904712,1.272503,1.934206,2.178201,1.935533,3.104901,2.042591,1.752550
99982,2.346649,1.329105,2.673362,2.339481,1.028955,0.766322,2.093564,1.486922,2.106040,1.935764,...,2.247181,1.660603,2.254615,2.621480,1.659217,2.110938,2.470022,2.359924,2.968647,2.098067
99983,1.405765,2.070329,2.172424,2.314741,1.794237,1.908839,3.413787,1.385935,1.283685,2.783633,...,2.506881,3.081882,1.972034,0.475876,2.575435,2.133713,2.867264,1.732730,1.831861,1.354536
99984,2.362765,2.190928,3.471756,2.511914,2.920498,1.645430,1.852813,1.594432,1.290186,1.505811,...,2.300081,1.649063,1.204388,2.055990,1.116673,2.241748,2.780365,2.461974,0.715167,3.354131
99985,1.653298,1.170811,2.648263,1.464368,3.376029,2.686461,1.818216,2.061906,2.448822,1.716538,...,2.026350,2.203301,1.236588,2.330305,1.332705,1.531133,1.363433,1.734751,1.273995,1.556117
99986,2.321994,2.726122,2.305241,1.317790,2.245922,2.633858,2.340699,1.560148,2.245819,2.600717,...,2.498680,2.222970,1.654151,1.924431,1.993898,1.859339,1.969085,1.886730,1.988250,2.180722
99987,1.212179,1.159788,2.803700,1.870679,1.772416,0.787019,2.292537,2.418902,1.863137,3.211870,...,1.943418,2.135067,1.980941,0.857108,1.205516,2.125668,3.105553,2.926618,1.177321,1.494216
99988,1.945091,1.639819,1.918852,2.179307,1.304276,1.981897,2.492099,1.445377,1.515096,1.765245,...,2.023479,1.376962,1.871190,1.486913,1.604741,2.387040,2.046426,1.776867,1.886274,1.522961
99989,2.040032,2.192537,2.147737,3.802939,2.040119,1.692062,2.227425,1.467336,1.414681,1.186079,...,1.487859,2.695931,1.823389,1.535950,2.533355,2.233974,1.912686,1.606012,1.677495,1.090460
99990,1.237808,2.223027,2.474764,2.773193,2.484599,2.689616,3.228562,2.088947,2.471298,1.847874,...,1.971181,1.487837,1.367118,2.259710,1.626144,2.347477,1.955410,2.579857,2.166550,1.076714
99991,2.436503,2.566128,3.070286,2.606898,1.724611,2.400306,1.825963,1.448154,1.496346,2.361908,...,1.815644,1.415418,2.502511,1.258487,1.298193,1.860182,1.399211,1.740669,1.970275,3.057675
99992,2.133103,1.652657,2.064544,2.609207,1.124066,1.625627,1.686558,2.366182,1.695228,2.897846,...,1.450119,3.018549,2.183167,3.045669,2.331310,1.836002,0.933360,2.926402,2.469891,1.050197
99993,2.635077,1.655436,0.735955,2.045954,1.779264,1.714414,1.074490,1.592654,1.541313,1.732518,...,1.692508,2.342566,1.436563,1.915419,2.581210,1.512724,2.344805,1.516592,2.384758,2.328794
99994,2.208062,1.768444,2.929948,1.804712,1.989707,2.473341,2.055708,2.681383,2.981290,2.787367,...,2.490115,2.031337,2.746501,2.616511,2.522149,2.024377,2.596863,2.309965,2.550649,2.547372
99995,1.948321,1.751224,2.276621,2.203974,2.752196,1.811677,1.544824,1.347874,2.406432,2.045719,...,2.156290,1.469662,1.239475,2.085855,1.546402,2.670792,0.801108,1.924963,1.309836,2.598576
99996,2.249443,2.248954,2.840738,2.278969,1.552147,1.613808,2.537029,2.572771,1.855158,1.570820,...,1.528213,1.484577,1.659783,1.798531,1.920396,3.043902,1.965024,1.725764,1.465961,1.805480
99997,1.942065,2.352778,1.104218,1.777017,2.159435,1.715014,2.424385,2.013074,1.637694,3.488990,...,2.159156,2.096489,1.486934,2.669343,2.069421,1.332025,2.191244,2.179376,1.816149,1.682464
99998,2.681177,0.958664,2.867072,1.127300,1.277971,1.268119,1.756763,2.250528,1.326825,2.479023,...,1.608354,2.040729,2.223907,3.272577,1.933145,2.578746,1.132848,1.919029,2.201389,1.950606
99999,2.300429,2.501596,2.385804,1.518952,2.691974,2.580092,2.047616,1.384078,1.879208,1.342491,...,1.807613,1.410310,2.396323,1.458223,3.108393,1.609983,1.459910,2.062004,1.693840,1.758297

In [53]:
%%timeit -n 10
names = ["Normen","Blanka","Tim"]

x = pd.Series(names)  

dataframe = {"Names":x}
df0 = pd.DataFrame(dataframe) 
df0

499 µs ± 165 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [54]:
%%timeit -n 10
dt = [{"Player":"X","Age":25,"Country":"UAE"},{"Player":"Y","Age":28,"Country":"SA"}]
df1 = pd.DataFrame(dt, index=[0,1])
df1

815 µs ± 160 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

__Comment:__ As observed, from above two blocks forming a dataframe from a series taking less time when compared to forming a dataframe from list of dictionaries.From this we can say that as the size of dataframe increases meaning memory allocation differs then time of execution also increases.
                    __Tradeoff between Memory,Time and size__

In [55]:
Input = pd.read_csv("population_data.csv")
#Input

In [56]:
Input["sex"].value_counts()

Male      10860
Female     5421
Name: sex, dtype: int64

In [57]:
Input.groupby("sex")["age"].mean()

sex
Female    37.066593
Male      39.616483
Name: age, dtype: float64

In [58]:
Input[["age","sex"]].groupby(["sex"]).agg(["count","min","mean","max"])

          age
        count min       mean max
sex
Female   5421  17  37.066593  90
Male    10860  17  39.616483  90

In [59]:
Per_Citizens = Input["native_country"].value_counts(normalize=True) * (100)
Per_Citizens

United-States                 91.597426
Mexico                         1.924158
Philippines                    0.605985
Puerto-Rico                    0.437309
Germany                        0.431061
Canada                         0.381083
India                          0.318611
El-Salvador                    0.306116
China                          0.293622
Cuba                           0.268632
England                        0.231149
South                          0.218654
Dominican-Republic             0.206160
Italy                          0.199913
Haiti                          0.193665
Japan                          0.187418
Portugal                       0.187418
Poland                         0.168676
Columbia                       0.162429
Jamaica                        0.156182
Guatemala                      0.149934
Greece                         0.124945
Vietnam                        0.118698
Ecuador                        0.106204
Iran                           0.099956
Nicaragua                      0.093709
Peru                           0.093709
Taiwan                         0.087462
Ireland                        0.081214
Thailand                       0.074967
Hong                           0.062473
Scotland                       0.056225
Cambodia                       0.056225
France                         0.056225
Outlying-US(Guam-USVI-etc)     0.056225
Trinadad&Tobago                0.049978
Honduras                       0.043731
Yugoslavia                     0.043731
Hungary                        0.037484
Laos                           0.031236
Name: native_country, dtype: float64

In [60]:
Per_Citizens["Germany"]

0.43106141063284814

In [61]:
Per_Citizens["United-States"]

91.59742612606985

In [62]:
Input.groupby("class")["age"].mean()

class
<=50K.    37.048010
>50K.     44.326833
Name: age, dtype: float64

In [63]:
Input.groupby("class")["age"].std()

class
<=50K.    14.268633
>50K.     10.641164
Name: age, dtype: float64

In [64]:
a = Input.filter(items=["class","education"]).copy()
a

        class     education
0      <=50K.          11th
1      <=50K.       HS-grad
2       >50K.    Assoc-acdm
3       >50K.  Some-college
4      <=50K.  Some-college
...       ...           ...
16276  <=50K.     Bachelors
16277  <=50K.       HS-grad
16278  <=50K.     Bachelors
16279  <=50K.     Bachelors
16280   >50K.     Bachelors

[16281 rows x 2 columns]

In [65]:
b = a.loc[a["class"] == ">50K."].copy()
b

       class     education
2      >50K.    Assoc-acdm
3      >50K.  Some-college
7      >50K.   Prof-school
10     >50K.       HS-grad
14     >50K.       HS-grad
...      ...           ...
16254  >50K.       Masters
16255  >50K.       Masters
16261  >50K.   Prof-school
16265  >50K.       Masters
16280  >50K.     Bachelors

[3846 rows x 2 columns]

In [66]:
b.education.unique()

array(['Assoc-acdm', 'Some-college', 'Prof-school', 'HS-grad', 'Masters',
       'Doctorate', 'Bachelors', 'Assoc-voc', '9th', '10th', '7th-8th',
       '11th', '5th-6th', '1st-4th', '12th', 'Preschool'], dtype=object)

In [67]:
out = [ ]
check = ["HS-grad","Some-college","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate","9th","10th","7th-8th","11th","12th"]
#check = ["1st-4th","5th-6th","Preschool"]
for index, row in b.iterrows():
    if (row["education"] not in check):
        out.append("False")
    else:
        out.append("True")

b["Output"] = out

In [68]:
b

       class     education Output
2      >50K.    Assoc-acdm   True
3      >50K.  Some-college   True
7      >50K.   Prof-school   True
10     >50K.       HS-grad   True
14     >50K.       HS-grad   True
...      ...           ...    ...
16254  >50K.       Masters   True
16255  >50K.       Masters   True
16261  >50K.   Prof-school   True
16265  >50K.       Masters   True
16280  >50K.     Bachelors   True

[3846 rows x 3 columns]

In [69]:
check=["HS-grad","Some-college","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate","9th","10th","7th-8th","11th","12th"]
#check = ["1st-4th","5th-6th","Preschool"]
for index, row in b.iterrows():
    if (row["education"] in check):
        continue
    else:
        print(index,"False")
        break

566 False

In [70]:
check=["HS-grad","Some-college","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters","Doctorate","9th","10th","7th-8th","11th","12th"]
#check = ["1st-4th","5th-6th","Preschool"]
Input.loc[Input["class"]==">50K."]["education"].isin(check).all()

False

In [71]:
Input[["race","sex","age"]].groupby(["race","sex"]).agg(["count","min","max","mean","std","unique"])

                            age                                \
                          count min max       mean        std
race               sex
Amer-Indian-Eskimo Female    66  17  60  34.651515  12.266894
                   Male      93  17  75  36.537634  11.005492
Asian-Pac-Islander Female   171  18  81  36.807018  13.255993
                   Male     309  18  90  38.815534  12.710371
Black              Female   753  17  73  38.013280  12.945460
                   Male     808  17  81  38.388614  13.327352
Other              Female    46  17  64  30.108696  10.263697
                   Male      89  18  67  36.101124  12.603251
White              Female  4385  17  90  37.023489  14.698216
                   Male    9561  17  90  39.808807  13.553669


                                                                      unique
race               sex
Amer-Indian-Eskimo Female  [19, 50, 57, 53, 48, 36, 41, 18, 27, 20, 22, 4...
                   Male    [34, 33, 35, 44, 31, 37, 40, 26, 29, 28, 41, 5...
Asian-Pac-Islander Female  [18, 25, 55, 28, 24, 34, 23, 66, 35, 49, 22, 2...
                   Male    [40, 34, 51, 37, 45, 36, 26, 22, 53, 21, 30, 4...
Black              Female  [34, 52, 33, 24, 27, 42, 48, 44, 47, 26, 23, 3...
                   Male    [25, 44, 29, 23, 46, 39, 49, 22, 19, 57, 28, 3...
Other              Female  [31, 41, 53, 64, 37, 25, 35, 21, 36, 18, 23, 2...
                   Male    [46, 65, 21, 64, 35, 27, 52, 18, 20, 42, 22, 2...
White              Female  [18, 24, 26, 43, 37, 72, 56, 28, 21, 30, 33, 4...
                   Male    [38, 28, 34, 63, 55, 65, 36, 58, 48, 43, 20, 2...

In [72]:
Input.groupby(["race","sex"])["age"].describe()[["count","min","max","mean","std"]]

                            count   min   max       mean        std
race               sex
Amer-Indian-Eskimo Female    66.0  17.0  60.0  34.651515  12.266894
                   Male      93.0  17.0  75.0  36.537634  11.005492
Asian-Pac-Islander Female   171.0  18.0  81.0  36.807018  13.255993
                   Male     309.0  18.0  90.0  38.815534  12.710371
Black              Female   753.0  17.0  73.0  38.013280  12.945460
                   Male     808.0  17.0  81.0  38.388614  13.327352
Other              Female    46.0  17.0  64.0  30.108696  10.263697
                   Male      89.0  18.0  67.0  36.101124  12.603251
White              Female  4385.0  17.0  90.0  37.023489  14.698216
                   Male    9561.0  17.0  90.0  39.808807  13.553669

From above 2 cells, the maximum age of men of Amer-Indian-Eskimo race is 75

In [73]:
x = Input.loc[Input["class"] == ">50K."].copy()
x

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,NaN,>50K.
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K.
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K.
30,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States,>50K.
36,36,Local-gov,403681,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K.
40,65,Private,136384,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
41,44,Self-emp-inc,120277,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K.
45,28,Private,242832,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,36,United-States,>50K.
53,22,Private,54164,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,14084,0,60,United-States,>50K.
57,34,Local-gov,382078,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,3103,0,50,United-States,>50K.
58,42,Self-emp-inc,170721,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,50,United-States,>50K.
66,41,Self-emp-inc,445382,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,60,United-States,>50K.
70,55,Private,323887,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,45,United-States,>50K.
83,44,Self-emp-inc,223881,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,50,NaN,>50K.
87,55,Private,160631,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,56,United-States,>50K.
89,41,NaN,38434,Masters,14,Married-civ-spouse,NaN,Wife,White,Female,7688,0,10,United-States,>50K.
92,33,Private,176410,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,5178,0,10,United-States,>50K.
98,59,Private,272087,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K.
112,29,Private,337266,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K.
119,43,Private,179866,Bachelors,13,Divorced,Sales,Unmarried,White,Female,0,0,40,United-States,>50K.
126,48,Federal-gov,42972,Doctorate,16,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K.
128,27,Self-emp-not-inc,115438,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,Ireland,>50K.
129,41,Private,239296,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,50,United-States,>50K.
133,42,Self-emp-inc,100793,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,41,United-States,>50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16161,41,Private,242804,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K.
16162,48,Private,156926,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K.
16165,52,Private,203635,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,65,United-States,>50K.
16174,64,Local-gov,47298,Doctorate,16,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K.
16175,55,Local-gov,258121,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K.
16179,37,Private,422933,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,40,United-States,>50K.
16180,27,Private,32452,Masters,14,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K.
16181,35,Private,54363,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
16184,59,State-gov,354948,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K.
16185,31,Private,162572,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15024,0,60,United-States,>50K.
16194,32,Private,196125,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K.
16205,57,Private,127728,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,44,United-States,>50K.
16209,29,Private,288229,HS-grad,9,Married-civ-spouse,Tech-support,Wife,Asian-Pac-Islander,Female,4386,0,45,United-States,>50K.
16215,41,Private,160785,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.
16218,34,Self-emp-inc,177828,HS-grad,9,Divorced,Sales,Unmarried,White,Male,0,0,50,United-States,>50K.
16224,50,Self-emp-not-inc,187830,Bachelors,13,Divorced,Craft-repair,Not-in-family,White,Male,27828,0,16,United-States,>50K.
16225,52,Private,240612,HS-grad,9,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,Peru,>50K.
16228,35,Local-gov,297322,Some-college,10,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,>50K.
16231,34,Federal-gov,408813,HS-grad,9,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,40,United-States,>50K.
16237,30,Private,34572,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,80,United-States,>50K.
16240,57,Private,161944,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,60,United-States,>50K.
16244,32,Private,24529,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,5178,0,60,United-States,>50K.
16245,51,Self-emp-not-inc,311631,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K.
16250,49,Self-emp-inc,77132,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Canada,>50K.
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K.
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K.
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K.
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,NaN,>50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [74]:
x.groupby(["class","marital_status"])["marital_status"].describe()[["count"]]

                            count
class marital_status
>50K. Divorced                208
      Married-AF-spouse         4
      Married-civ-spouse     3292
      Married-spouse-absent    24
      Never-married           242
      Separated                33
      Widowed                  43

In [75]:
check =["Married-civ-spouse"]
k =Input[Input["class"]==">50K."]["marital_status"].isin(check).value_counts()
if k[True]>k[False]:
    print("married")
else:
    print("bachelors")

married

In [76]:
Input["hours_per_week"].max()

99

In [77]:
Input["hours_per_week"].value_counts()[99]

52

In [78]:
Input[["native_country","class","hours_per_week"]].groupby(["native_country","class"]).agg(["count","mean"])

                      hours_per_week
                               count       mean
native_country class
Cambodia       <=50K.              7  40.714286
               >50K.               2  57.500000
Canada         <=50K.             37  36.189189
               >50K.              24  46.916667
China          <=50K.             31  35.451613
...                              ...        ...
United-States  >50K.            3523  45.403633
Vietnam        <=50K.             17  40.235294
               >50K.               2  40.000000
Yugoslavia     <=50K.              5  32.400000
               >50K.               2  25.000000

[76 rows x 2 columns]

In [79]:
Input.groupby("native_country")["hours_per_week"].mean()

native_country
Cambodia                      44.444444
Canada                        40.409836
China                         39.021277
Columbia                      41.884615
Cuba                          42.186047
Dominican-Republic            39.818182
Ecuador                       38.764706
El-Salvador                   35.428571
England                       42.189189
France                        35.444444
Germany                       40.420290
Greece                        50.750000
Guatemala                     37.333333
Haiti                         36.935484
Honduras                      34.428571
Hong                          39.000000
Hungary                       43.000000
India                         41.215686
Iran                          40.187500
Ireland                       42.461538
Italy                         39.437500
Jamaica                       41.000000
Japan                         39.366667
Laos                          36.000000
Mexico                        39.948052
Nicaragua                     38.666667
Outlying-US(Guam-USVI-etc)    40.555556
Peru                          38.933333
Philippines                   39.670103
Poland                        36.259259
Portugal                      42.666667
Puerto-Rico                   39.742857
Scotland                      42.222222
South                         43.857143
Taiwan                        41.285714
Thailand                      43.583333
Trinadad&Tobago               42.500000
United-States                 40.426886
Vietnam                       40.210526
Yugoslavia                    30.285714
Name: hours_per_week, dtype: float64

In [80]:
Input.groupby("native_country")["hours_per_week"].mean()["Japan"]

39.36666666666667

In [81]:
Input.groupby("native_country")["hours_per_week"].mean()["Taiwan"]

41.285714285714285

In [82]:
Input["relationship"].value_counts()

Husband           6523
Not-in-family     4278
Own-child         2513
Unmarried         1679
Wife               763
Other-relative     525
Name: relationship, dtype: int64

In [83]:
Input["relationship"].value_counts()["Husband"]

6523